.chat {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 310px 1fr;
}

.chat__list {
  border-right: 1px solid #595B5D;
  background: #282C31;
}

.chat__item {
  padding: 2px 0;
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: 290px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #595B5D;
  }
}

.chat__list-top {

}

.chat__wrapper-link {

}

.chat__link-icon {

}

.chat__link {

}

.chat__search {
  padding: 20px 10px 14px;
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: 290px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #595B5D;
  }
  //border-bottom: 1px solid #595B5D;
}

.chat__dialog {

}
