.message {
  padding: 11px;
  background: #27292D;
  color: #EAE9EC;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border-radius: 12px;
  position: relative;
}

.message__date {
  background: rgba(82, 82, 82, .5);
  border-radius: 30px;
  padding: 2px 7px;
  position: absolute;
  right: 11px;
  bottom: 11px;
}

.message__time {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
}
